nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    padding: 0 2rem;
    height: 90px;
}

nav  img{
    height: 75px;

}

ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}

li a {
    color: #fff;
    font-size: 1.1rem;
}